<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Azure configuration -->
		<!-- The Azure AD instance to use in authentication. This URL will be concatenated with the Tenant to form the authentication authority URL. DO NOT TERMINATE WITH A SLASH. -->
		<add key="ida:AADInstance" value="https://login.microsoftonline.com" />
		<!-- The name of the tenant to authenticate to.  -->
		<add key="ida:Tenant" value="" />
		<!-- Id of the client application, as retrieved from the Azure AD registered apps. -->
		<add key="ida:ClientId" value="" />
		<!-- The URL to the resource to get an access token to. -->
		<add key="ida:ResourceUri" value="" />
		<!-- The redirect URL of the Azure application. -->
		<add key="ida:RedirectUri" value="" />
		<!-- Loop configuration -->
		<!-- URL to get version of Loop. -->
		<add key="loop:VersionUrl" value="" />
		<!-- Loop session id. -->
		<add key="loop:SessionId" value="" />
		<!-- Loop server function URL template: {0} is the Loop session id. To automatically set the Loop version, the URL must have {1} where the version is to be replaced. -->
		<add key="loop:ServerFunction" value="the url to call the server function goes here?sessionId={0}" />
		<!-- Username to login to Azure. -->
		<add key="loop:username" value="" />
		<!-- Password for the username to login to Azure. -->
		<add key="loop:password" value="" />
	</appSettings>
</configuration>